$white: #fff;
$grey: #E6E6E6;
$black: #000;
$green: #3EE632;
$blue: #2CA7F0;
$red: #E9425C;

$green-start-gradient: #67f714;
$green-end-gradient: #0bcae3;
$blue-start-gradient: #00D8FB;
$blue-end-gradient: #5776E5;
$red-start-gradient: #F52C39;
$red-end-gradient: #E5578E;

$success: $green;
$info: $blue;
$danger: $red;
$warning: $red-end-gradient;